.white {
  width: 100%;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 14px;

  &:hover {
    background-color: #f6f8fb;
  }
}

.primary {
  height: 32px;
  background-color: #6b63f1;
  border: none;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;

  &:hover {
    background-color: #675ff6;
    box-shadow: 0 4px 3px rgba(156, 87, 251, 0.2);
  }
}

.outline {
  height: 32px;
  background-color: transparent;
  border: 1px solid #6b63f1;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 14px;
  color: #6b63f1;
  border-radius: 2px;

  &:hover {
    background-color: #f0f0ff;
    box-shadow: 0 4px 3px rgba(156, 87, 251, 0.2);
  }
}

.danger-text{
  color: #ef4444;
  &:hover {
    color: #ef4444;
  }
  font-size: 13px;
}

.text{
  color: #6b63f1;
  &:hover {
    color: #6b63f1;
  }
  font-size: 13px;
}